/*  **************************************************************************************************  */
/*  **********  /openbootcamp/src/ComponentsMain/ProyectoFinalComponent/CursoComponent.css  **********  */
/*  **************************************************************************************************  */


.proyecto-final {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
    background-color: #282C34;
    /* background-color: aqua; */
    padding-bottom: 100px;
}


