/*  *********************************************************************************************  */
/*  **********  /openbootcamp/src/ComponentsMain/NavBarrComponent/NavBarComponent.css  **********  */
/*  *********************************************************************************************  */


.navbar {
    width: 90%;
    height: 100px;
    position: fixed;
    top: 98px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #282C34;
}

.navbar__link {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 35px;
    color: #ffffff;
    background-color: #65656D;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.navbar__link:hover {
    background-color: #5f5fd1;
}

