/*  ***********************************************************  */
/*  **********  /openbootcamp-app-react/src/App.css  **********  */
/*  ***********************************************************  */


@import './styles/task.scss';


.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #282C34;
    height: 100vh;
}

.separador {
    display: block;
    width: 90%;
    height: 50px;
    background-color: #61DAFB;
    margin-top: 50px;

}

.componentes {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgb(101, 101, 109);
}

.caja-titulo {
    background-color: #aac7cf;
    padding: 10px;
}

.titulo-componente {
    font-size: 36px;
}

.btn-container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(66, 30, 100);
    transition: all 300ms ease-in-out;
}

button:hover {
    background-color: blueviolet;
}


.father {
    overflow: hidden;
}




/*  **********  Lista de Tareas  **********  */
.lista-tareas {
    position: relative;
    overflow: hidden;
}





/*  **********  formulario para añadir tareas  **********  */
.task-form {
    position: absolute;
    top: 26%;
    left: 34%;
    overflow: hidden;
    z-index: 100;
    padding: 30px;
    background-color: #282C34;
    border-radius: 10px;
    cursor: pointer;
}

/*  **********  Formulario de LoginFormic  **********  */
.login-formik {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    overflow: hidden;
    background-color: #282C34;
    border-radius: 10px;
    cursor: pointer;
}

.error-message {
    font-size: 24px;
    color: tomato;
}




.label-titulo {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #282C34;
    font-size: 36px;
    text-align: center;
}


/*  *****  RESPONSIVE  *****  */